@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
   font-family: 'Roboto', 'sans-serif';
   background-color: #e5e5f7;

background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
background-size: 10px 10px;
display:flex;
min-height: 100vh;
}
.form {
    background-color:white; 
    margin-top : 90px;
    margin-left: 300px;
    margin-right: 300px;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%)
    

}

.form_title {
    font-size: 2rem;
    margin-bottom: .5rem;

}

.form_container {
    margin-top: 3em ;
    display: grid;
    gap: 2.5em;

}

.form_group {
    position: relative;
    --color: #5757577e;

}

.form_input{
    width: 100%;
    background: none;
    color: #706cc6;
    font-size: 1rem;
    padding: .6m .3m;
    border:none;
    outline: none;
    border-bottom: 1px solid var(--color);
    font-family: 'Roboto', 'sans-serif';

/*.form_input:focus + .form_label{
    transform: ;
} */   

}
.form_label{
    color: var(--color);
    cursor:pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translate(10px);
    transition: transform .5s, color .3s ;


}
